[2017-08-16 15:18] couci opened #1 "Mockups of how the pages will look like"
I am opening this issue just for tracking of the ideas we came up with

[2017-08-16 15:24] couci commented on #1
on another note I think it's better if we add a picture with a small description and user story, I will close this and open respective issues

[2017-08-16 15:24] #1 closed

[2017-08-16 15:26] couci opened #2 "Landing page"
This is an issue where we track how the landing page will look like.

We are forking the global sprint website and adding some extra functionalities for the need of our campaign.

[2017-08-16 15:34] couci commented on #2
This is a mockup of the landing page.
We basically want to keep this as clean as possible.

Most of the page will be occupied by a map showing the events around the globe.

There are 2 action items on this page that direct to 2 subpages:
- become a host
- attend an event

On the top right corner there will be a countdown to the day of the event that will change to a count-up of links been tested o

[2017-08-16 16:18] couci opened #3 "Become a host"
**Become a host subpage**

The main menu on the left will remain

The page will have the following components:

- Register your event: this will link to a form where people can register
- How to host an event: this will have text info on useful tips
- Workflow of the event
- Resourced you can request

![become a host](https://user-images.githubusercontent.com/7702955/29373637-322adcb0-82af-11e7-83

[2017-08-16 16:25] couci opened #4 "Attend an event page"
Attend an event subpage

The menu on the left stays the same

Subcomponents:
- Find a local event in your area (directing to the events subpage)
- Steps on how to register: sign up link
- How to take action from your home (instructions on how one can take action solo)

![attend an event](https://user-images.githubusercontent.com/7702955/29373997-345680ec-82b0-11e7-968a-89bdd399f37e.jpg)

[2017-08-16 16:32] MichaelKohler opened #5 "Add pseudo map on frontpage + events page"
The pseudo map is just some map that can be embedded in an iframe. The goal of this issue to have it displayed, so we can see if this concept works for us.

[2017-08-16 16:33] MichaelKohler opened #6 "Add pseudo events as a list to events page"
Just some random pseudo events to show how the list could look like as well as how the data structure in the repo looks like. This is not tied to the map.

[2017-08-16 16:35] MichaelKohler opened #7 "Add buttons to landing page"
As described in https://github.com/mozilla/fx-webcompat-campaign/issues/2

[2017-08-16 16:35] MichaelKohler opened #8 "Add pseudo header to frontpage to see how it looks"

[2017-08-16 16:36] MichaelKohler opened #9 "Add report form"
We should have a report form. Specification will follow shortly in a new issue by @couci.

[2017-08-16 16:37] MichaelKohler opened #10 "Add countdown (days/hours) to date X on the frontpage"

[2017-08-16 16:38] MichaelKohler opened #11 "Add "Sites Tested" counter to frontpage"
Initial approach:
- [ ] Google Form with URL
- [ ] Grab all entries from the Google Form
- [ ] De-duplicate
- [ ] Count all entries and show it

[2017-08-16 16:40] MichaelKohler commented on #4
Not sure anymore what we discussed. About the "Steps on how to register", we will eventually display the sign up link per event on the events overview. What exactly did we mean here?

[2017-08-16 16:43] MichaelKohler opened #12 "Figure out if there is an easy way to support l10n"

[2017-08-16 19:27] #8 closed

[2017-08-16 19:55] #7 closed

[2017-08-16 20:22] #6 closed

[2017-08-16 20:55] #5 closed

[2017-08-17 08:16] MichaelKohler opened #13 "Improvement: Directly load events from signups"
@couci can we make the signup registration sheet completely public? If so, I think we could directly load our data from there, thus decrease the manual workload.

[2017-08-17 08:17] MichaelKohler opened #14 "Improvement: Use CSV for events instead of json (if #13 does not work)"
If #13 is not possible, we can also use a csv (as Jekyll supports that as well) for easier management of the events. Currently in the PoC it's a json.

[2017-08-17 08:18] MichaelKohler opened #15 "Improvement: Draw map ourselves"
If #13 works, we can generate the map dynamically instead of manually. This would decrease the manual workload.

[2017-08-17 10:18] couci commented on #13
You mean without any sign-ins required right? Yes we can make that, would you like me to request the form now?

[2017-08-17 10:20] MichaelKohler commented on #13
Basically just "Anyone on the web can view" on the responses sheet. Why would you need to request the form? Can't we just do it in the CDT folders and set the permission to that? (I will need to have edit rights on the google form part so I can play around ;))

[2017-08-17 10:28] couci commented on #4
Basically a text on how one can search for a place near to him and what to do in order to sign up (click on the link provided by every organizer).
I think you're right sign up link doesn't make sense here

[2017-08-20 11:46] #10 closed

[2017-08-20 11:59] MichaelKohler commented on #12
We could do a test run with l20n, however we still would need to create subpages for all langauges (without the content) to make sure links like /es/register would still work.

[2017-08-20 11:59] #12 closed

[2017-08-20 13:49] #9 closed

[2017-08-20 13:54] MichaelKohler commented on #14
As #13 is possible, we don't need this one.

[2017-08-20 13:54] #14 closed

[2017-08-20 19:50] #11 closed

[2017-08-21 14:49] couci commented on #13
yes you are right :) we can totally do that

[2017-08-22 12:59] couci opened #25 "Reporting form is not functioning correctly"
There is a bug on the reporting form on the "Did you find an issue with the tested site?". Basically the "Please head over to webcompat.com and file an issue with your testing result and then enter the submitted report link here." is not displayed if someone clicks no as a first option and returns back to yes.

Steps to reproduce:
- Go on the "Did you find an issue with the tested site?"
- click "

[2017-08-22 14:12] couci opened #26 "Add content on the website"
This issue tracks the content need of the website subpages

- [ ] Landing page
- [x] Register page
- [x] Host's page
- [x] Attendees page
- [x] Resources page

[2017-08-22 14:13] couci commented on #26
Host's page and attendees page content can be found here: https://docs.google.com/document/d/1PlCr7S9cwobRc314xLZCClibxrqdTo8p1JabycfrWH4/edit#

[2017-08-22 14:37] couci opened #27 "Reporting form and leadershipboard should stand alone in the menu"
Considering the importance of the reporting form (and the need of being easy to find) and the gamification for leadershipboard those two pages should be easy to find.

Thus I think they should be displayed on the side menu as side pages so they are easy to catch the eye

[2017-08-23 16:09] MichaelKohler commented on #27
Sounds good, I'll leave the "Resources" item empty for now, as far as I know we'll use that one for some other stuff once content is ready.

[2017-08-23 19:54] MichaelKohler opened #28 "Fix CoC email address"
https://github.com/mozilla/fx-webcompat-campaign/blob/master/CONTRIBUTING.MD

the email address should not point to Hannah, but community-development@mozilla.com

[2017-08-24 20:18] #27 closed

[2017-08-24 20:20] #25 closed

[2017-08-24 20:22] #28 closed

[2017-08-24 20:31] MichaelKohler opened #30 "Do a content review and check for typos/missing links"
Once we are on a good level content-wise we need to check the website to find any missing link references and typos in the text. I guess we can outsource this further once we did an initial round to fix the links :)

[2017-08-24 20:33] MichaelKohler commented on #26
Current content has been added. Please tell me (or mark me in the doc) if there are changes to the text for the hosts or participation subpages.

Waiting for further text for the landing and registration page, happy to edit those as well. Not sure if the registration page needs more than what we have, but we definitely need some catchy phrases on why this is important on the landing page.

For the

[2017-08-24 20:38] MichaelKohler commented on #2
As this is done so far, I'm closing this in favor of #26 for the real content.

[2017-08-24 20:38] #2 closed

[2017-08-24 20:38] MichaelKohler commented on #4
As this is done so far, I'm closing this in favor of #26 for the real content.

[2017-08-24 20:38] #4 closed

[2017-08-24 20:38] MichaelKohler commented on #3
As this is done so far, I'm closing this in favor of #26 for the real content.

[2017-08-24 20:38] #3 closed

[2017-08-24 20:44] MichaelKohler opened #32 "Decide on final date and name"
As decisions on the final date and name require a quick content update, I'm filing this issue.

- [ ] Implement the final campaign name (including logo and all occurances of the name, including repo)
- [ ] Implement final date (mostly for the title on the landing page and the countdown)

[2017-08-24 20:45] MichaelKohler opened #33 "Decide on domain"
Currently we're running at mozilla.github.io/<repositoryname>. We need to talk to ParSys if we need <campaignname>.mozilla.community for example. @couci what do you think?

I might need to change the base url of the website in the code depending on the domain.

[2017-08-24 20:47] MichaelKohler opened #34 "Get 5 Reps and 5 Mozillians to review the content for clarity"
We want to make sure the content is clear to everyone once we launch. I'd suggest to get 5 Reps as well as 5 Mozillians to review the content and sign off.

[2017-08-24 20:48] MichaelKohler opened #35 "Experiment: do a Proof of Concept for l10n"
l10n is not a priority right now, but I'd like to dive deeper into our possibilities to see if we can easily change the current format to something that can be uploaded to Pontoon for easy translation.

[2017-08-24 20:50] MichaelKohler commented on #30
Currently missing links:

- [ ] Event Registration (for hosts to register a new event)
- [ ] Swag/Budget Request Form

[2017-08-24 20:54] MichaelKohler opened #36 "Improve Design"
I currently see the following problems/concerns with our design:

- [x] Links are quite hard to read, they should be darker
- [x] Logo is hard to read, we might want to choose a darker blue (fixing the first point as well)
- [x] Landing page image is currently a placeholder, do we have something better?
- [ ] Having the countdown/sites tested counter in the header does not really resonate with me,

[2017-08-28 11:04] couci commented on #32
On date I am thinking first week of October, that is: Monday the 2nd as the first day of events.

On naming I am thinking on landing on "Firefox 57 Sprint"

[2017-08-28 11:05] couci commented on #30
On event registration I thought we would encourage people to register on the pages each one has built, no?

[2017-08-28 11:18] MichaelKohler commented on #30
This is the link to the form for hosts. So we can keep track and list who and where events happen. (changed the phrasing above in the comment).

[2017-08-28 15:34] couci commented on #33
I would like the mozilla.community. I am leaning on "firefox57-sprint.mozilla.community" what do you think?

[2017-08-28 15:35] couci commented on #34
FYI @kelimuttu is already reviewing this on a volunteer capability, as our A tester

[2017-08-29 07:49] kelimuttu commented on #34
Hey all, I take a look on the doc this morning and here are some of my concerns:

- Is there any feature that let us know which website has been tested? Cause if we don't have that, we might waste other people' time by asking them to test the same website.
- And apparently, Alexa only provide a limited number of 50 websites for the free account. In order to see the full list, we need to subscribe.

[2017-08-29 08:00] MichaelKohler commented on #34
The reporting form submits to a Google Form, so we have the links there. This could be exposed in a friendlier manner. However, I think the question is, do we only want X number of people to test a website?

Oh, that's not nice. Even if we sign up, that would mean we need to curate the list ourselves. I'll think about this, maybe I'll have an idea.

[2017-08-29 08:07] kelimuttu commented on #34
And we can probably put something in the website to encourage the host to ask the participants test their own favorite websites. Just so people is not only focus on the Alexa list.

[2017-08-29 10:45] couci commented on #26
On the landing page I am thinking the following:
Firefox 57 Sprint
Date (2/10 - 9/10)
Together we ensure Firefox 57 success (where it says this campaign is something)

[2017-08-29 10:46] couci commented on #30
So we are in need of a design similar to what we have on the report form right?

[2017-08-29 10:48] couci commented on #26
When we say registration page, we mean the become a host one right?
As for the Resources the idea is to have a tutorial video on how to report, I am talking with @ioana-chiorean on how to implement that

[2017-08-29 11:01] MichaelKohler commented on #26
https://mozilla.github.io/fx-webcompat-campaign/host/ is done as far as I can see. With "registration page" I meant: https://mozilla.github.io/fx-webcompat-campaign/register/ (not sure if we even need text there)

[2017-08-29 11:06] MichaelKohler commented on #30
This is either a Google Form with the registration content we discussed *or* a similar form on the website itself that reports to a Google Form. In both cases we need a Google form. If we want to have the form on the website itself (and therefore decrease the amount of manual work), check #13. In any case, this here is *just* about adding the final link to "Register your own event" on https://mozi

[2017-08-29 13:02] couci commented on #26
**Edit by Michael: Content for REGISTER page:**

I would just add:
* find events close to you (above the countries list)
* register your event link

[2017-08-29 13:50] couci opened #38 "Creation of the event registration form"
This issue is to track the creation of the event registration form:
Content to be added:
- [x] Event place (city, country)
- [x] Event date
- [x] Name of the host
- [x] mozillian profile
- [x] link where people can register at your event (it can be from an event page to the reps portal to a meet-up page)
- need of swag and budget (answer yes/no)

[2017-08-29 13:53] couci opened #39 "Improvement: Adding the registration form in the website"
This is an issue that tracks the creation of a registration form in the website instead of keeping it native on the google forms.

This depends on #38

[2017-08-29 13:56] MichaelKohler commented on #38
Do we want to show the name of the organizer in the list on https://mozilla.github.io/fx-webcompat-campaign/register/ ? If so, we also need to have the clean name available, not just the mozillians link.

[2017-08-29 14:22] couci commented on #38
yes, isn't the name of the host what you're referring?

[2017-08-29 14:26] couci commented on #36
On landing page image I was thinking on this: http://images.derstandard.at/t/12/2017/08/06/firefox.jpg
On links, let's put a darker blue and make the links buttons on the landing page a different colout

I am not sure why we should get rib of mozilla branding right now. On opendesign yes sure, how much time do you believe you need for implementation from the time you get feedback?

[2017-08-29 14:31] MichaelKohler commented on #38
Nevermind me..

[2017-08-29 18:59] couci commented on #38
The swag and budget form will need to go later since we first need confirmation that they have at least 10 people registered

[2017-08-30 11:15] MichaelKohler commented on #34
@kelimuttu can you create separate issues for this so we can use this one to track the work of getting outside feedback?

[2017-08-30 11:15] MichaelKohler commented on #33
We are currently going for firefoxsprint.mozilla.community

[2017-08-30 11:16] MichaelKohler commented on #32
Assigning to me to reflect that on website.

[2017-08-30 11:28] couci commented on #38
url for form here: https://goo.gl/forms/0cVVoz8rjG0noHsI2

@MichaelKohler please review

[2017-08-30 11:59] MichaelKohler commented on #38
Thanks, looks good. Let's continue with #39

[2017-08-30 11:59] #38 closed

[2017-08-30 12:04] MichaelKohler opened #40 "Rename repository and change "Firefox Campaign" to "Firefox 57 Campaign""
- [ ] Change Repository name to firefox57-sprint
- [ ] Change README / CONTRIBUTE and base_url
- [ ] Change all occurances of "Firefox Campaign" on the website to "Firefox 57 Sprint"

[2017-08-30 12:06] MichaelKohler opened #41 "Change Header image"
Change header image to https://pbs.twimg.com/media/DDXi042XgAA4MeG.jpg:orig (if that somehow works out with the ratio).

[2017-08-30 12:10] MichaelKohler opened #42 "Add initial text content for landing page"
See https://github.com/mozilla/fx-webcompat-campaign/issues/26#issuecomment-325626408

[2017-08-30 12:14] MichaelKohler opened #43 "Add "Event registration form" link to REGISTER page and "Become a host" page"
The button on the "Become a host" page already exists. Let's also take the same button and put in the "REGISTER" page.

Both point to the form defined in #38 .

[2017-08-30 12:40] MichaelKohler opened #44 "Move Countdown/Sites Tested counter to the sidebar belong the logo"

[2017-08-30 23:05] #40 closed

[2017-08-30 23:17] #32 closed

[2017-08-30 23:19] #42 closed

[2017-08-30 23:24] #43 closed

[2017-08-30 23:45] #41 closed

[2017-08-30 23:53] MichaelKohler commented on #44
Let's leave this is as is, otherwise it's almost too hidden.

[2017-08-30 23:53] #44 closed

[2017-08-31 14:12] kelimuttu commented on #34
Do we still need it? I guess @couci will get the list and put it elsewhere.

[2017-08-31 16:38] irvin opened #45 ""missing link" on Resources you can request paragraph"
https://firefoxsprint.mozilla.community/host/

[2017-09-01 05:41] ranjithrajv commented on #33
@MichaelKohler firefoxsprint.mozilla.community looks good.

[2017-09-01 05:47] #33 closed

[2017-09-01 05:51] MichaelKohler commented on #30
Event registration was added, budget/swag link is now tracked in #45

[2017-09-01 05:51] #30 closed

[2017-09-01 10:07] MichaelKohler commented on #45
Assigning to @couci for the form.

[2017-09-01 10:16] MichaelKohler commented on #26
This is done. Do we have any other content changes?

[2017-09-01 10:17] MichaelKohler opened #48 "Figure out what to do with Website list"
Feedback by @kelimuttu in https://github.com/mozilla/firefox57-sprint/issues/34#issuecomment-325583354:

@couci what do you think?

[2017-09-01 10:18] MichaelKohler commented on #34
Filed issue #48 for that. We have announced the website to the Reps and got some feedback. Some Reps have already forwarded/discussed with local communities, so I think this is fine for now.

[2017-09-01 10:18] #34 closed

[2017-09-01 10:20] MichaelKohler commented on #36
I've applied some changes before we announced this to the Reps. I think we're ok for now.

[2017-09-01 10:20] #36 closed

[2017-09-01 14:51] couci commented on #48
I like the idea of checking their own websites as well. As for the Alexa list, does it make sense for me to buy a subscription and copy past somewhere were Mozillians can check it out?

[2017-09-01 15:00] couci commented on #26
For now we are good, we are missing the 2 videos we are building but they won't come before the 15th.

[2017-09-01 18:08] MichaelKohler commented on #48
As far as I can see it's $25 per 100 URLs. That's gonna be really expensive if we want to cover most countries.

[2017-09-01 18:10] MichaelKohler commented on #48
.. and I'm not sure if that is even allowed to be republished. We'll figure it out.

[2017-09-05 17:26] MichaelKohler opened #49 "Add GA"
@hmitsch, can we add ourselves to your GA metrics? (And also have them posted to the oi-analytics channel?)

Just need the snippet for it.

[2017-09-05 18:50] hmitsch commented on #49
Yes, yes, yes ... I suggest using GTM. Nikos can help. Can you tag him? I
am on #familyTime.

[2017-09-05 21:03] hmitsch commented on #49
## Google Tag Manager Configuration

 **Paste this code as high in the <head> of the page as possible:**
``
`<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);

[2017-09-05 21:13] hmitsch commented on #49
I set the Google Analytics ID via GTM, it is UA-84301250-9.
I also configured GTM to track outbound links.

<img width="969" alt="image" src="https://user-images.githubusercontent.com/869692/30083685-c686b786-928f-11e7-9671-0c081fa15612.png">

[2017-09-05 21:13] hmitsch commented on #49
@MichaelKohler please let me know when it is implemented, in order to test it. Thank you!

[2017-09-05 21:14] hmitsch commented on #49
@comzeradd if you have any implementation hints, feel free to comment on this issue.

[2017-09-05 21:32] comzeradd commented on #49
@MichaelKohler Just make sure to wrap the GTM inside a DoNotTrack check. The easiest way to do it is to use the [dnt-helper](https://github.com/schalkneethling/dnt-helper) library and then do something like this: https://github.com/mozilla-iam/sso-dashboard/blob/master/dashboard/static/js/ga.js

[2017-09-06 14:24] MichaelKohler commented on #49
Thanks, we will do that :)

[2017-09-07 17:01] MichaelKohler opened #50 "Change Nightly to Beta"
As by the time we run this Firefox 57 will be in Beta, we should change all mentions from Nightly to Beta including the links pointing to the download page.

[2017-09-10 18:26] MichaelKohler commented on #50
@couci this will need your final decision

[2017-09-11 15:25] GuteMonik commented on #45
Hello!
This the link of the Colombian event: https://github.com/GuteMonik/Firefox57
And this in Reps portal: https://reps.mozilla.org/e/mozilla-firefox-57-sprint/
They could help me manage the swag please. Thanks! M.

[2017-09-13 13:53] couci commented on #50
I think we need to stick with nightly, I understand the problem you're posing but right now the comms and the video is about nightly and we also want to increase the downloads of the program

[2017-09-13 16:17] couci opened #51 "Change name of the campaign"
We need to change the name of the campaign from Firefox 57 to Firefox Quantum.

Points needed to be changed:
- [ ] title
- [ ] comms

[2017-09-13 16:20] couci commented on #45
Funding form here: https://goo.gl/forms/fkwubidAAnvK40vF3

[2017-09-14 12:19] couci commented on #45
Swag request here: https://goo.gl/forms/4FEhEEPkujEt3TYd2

[2017-09-14 12:23] couci commented on #45
@MichaelKohler small changes on the page:

- People can request budget only *after* the event with an indication of the receipt
- Take out the t-shirts from the list of the swag, those will be given to the first 50 of the leaderboard

[2017-09-14 12:47] couci opened #52 "Creation of FAQ"
A need of FAQ has been indicated. This is a tracking issue for it's creation and content.

[2017-09-14 15:33] couci commented on #52
FAQ page lives here: https://docs.google.com/document/d/1PlCr7S9cwobRc314xLZCClibxrqdTo8p1JabycfrWH4/edit?ts=599f381f#

[2017-09-14 17:15] MichaelKohler opened #54 "Add YouTube video"
surprise surprise ;)

[2017-09-14 17:18] couci commented on #48
Priyanka will provide the India site
@couci to check with George about buying the data

[2017-09-14 17:21] couci commented on #26
Landing page in need of a small paragraph @couci (catchy thing here)

[2017-09-14 18:45] couci commented on #52
@MichaelKohler we are now ready

[2017-09-14 18:52] #51 closed

[2017-09-14 19:07] #45 closed

[2017-09-14 19:16] #52 closed

[2017-09-14 19:45] #54 closed

[2017-09-14 21:47] MichaelKohler commented on #13
This is a WIP:

![Screen Shot 2017-09-14 at 23.46.35.png](https://images.zenhubusercontent.com/5965335f61b4ca3b0a740ed8/e809741f-5124-4d23-aefc-eb19ebc8e77d)

Now, let's find a library to convert country names to iso codes...

[2017-09-14 21:48] MichaelKohler commented on #15
@lkappeler is working on this :)

[2017-09-14 23:20] #13 closed

[2017-09-14 23:54] #15 closed

[2017-09-15 00:01] MichaelKohler commented on #49
@hmitsch I've added it to https://firefoxsprint.mozilla.community/register/ however, it says 404 on the https://www.googletagmanager.com/gtm.js?id=GTM-M9TL4WH . Do you need to activate the URL in Tag Manager so the file gets served? Or are they only counting URL access and always return 404?

![screen shot 2017-09-15 at 02 01 21](https://user-images.githubusercontent.com/330324/30460833-ce51991e-9

[2017-09-15 13:02] lkappeler opened #57 "Feature: Order Event locations alphabetically"
Event locations shall be sorted alphabetically.
This would make the event easier to find if there are multiple events in a certain country eg. India

![screenshot from 2017-09-15 14-46-13](https://user-images.githubusercontent.com/3371760/30483235-6fc6fdd6-9a26-11e7-827a-f4928940ed8d.png)

cc: @MichaelKohler

[2017-09-15 14:10] MichaelKohler commented on #57
Makes sense!

[2017-09-15 14:48] couci commented on #26
For the landing page I was thinking something like that:
Firefox strikes back!
Firefox Quantum is soon to be launched and this is our opportunity to make Firefox rise again. Particpate in the  Firefox Quantum Sprint and make a difference

[2017-09-15 14:53] MichaelKohler commented on #26
".. by ensuring we are fast and correct on local websites" or something like that? Currently I know why there is a sprint, but not exactly what the Sprint is about. Thoughts?

[2017-09-15 15:14] couci commented on #26
"..by ensuring that Firefox runs smoothly in your region" thanks for the add :)

[2017-09-15 15:29] MichaelKohler commented on #26
### Firefox strikes back!

Firefox Quantum is soon to be launched and this is our opportunity to make Firefox rise again. Participate in the Firefox Quantum Sprint and make a difference by ensuring that Firefox runs smoothly in your region.

Final approval? @couci

[2017-09-15 15:37] #57 closed

[2017-09-15 15:38] couci commented on #26
yes go for it

[2017-09-15 15:45] #26 closed

[2017-09-15 23:49] hmitsch commented on #49
Baah ... PEBCAK ... Container not published ...

<img width="1295" alt="image" src="https://user-images.githubusercontent.com/869692/30507063-4b274494-9a81-11e7-8f2c-b5508d9130d5.png">

[2017-09-15 23:50] hmitsch commented on #49
Works now, 404 is now a 200. :-)

https://www.googletagmanager.com/gtm.js?id=GTM-M9TL4WH

[2017-09-16 09:56] MichaelKohler commented on #49
Thanks!

[2017-09-16 09:56] #49 closed

[2017-09-16 19:12] MichaelKohler opened #60 "Hitting Geocode API limit"
As we are currently using the Geocode API, we only have 2500 calls/day and 50 calls/second for free. As we do that for every event on our list, this will be a quite growing number.

This means, that once we reach a limit, we won't get any more results and therefore can't show the event on the map.

There are 2 possibilities:
1) Pay for a premium plan (https://developers.google.com/maps/documentati

[2017-09-16 20:04] hmitsch commented on #49
Attn @MichaelKohler

**GA works like a charm:**
<img width="1391" alt="image" src="https://user-images.githubusercontent.com/869692/30515560-92c08f1e-9b2a-11e7-8647-8f637a500d00.png">

Here is an example of the benefit of **integrating GA via GTM**. We have link click events and can track **clicks to properties outside** the current site (e.g. lines 3, 7, 9, 10):
<img width="1387" alt="image" src=

[2017-09-16 20:13] MichaelKohler commented on #49
Nice! Regarding oi-analytics, I think weekly is fine.

[2017-09-16 20:27] hmitsch commented on #49
Cool, the guy behind Arc.ai usually gets back quickly. Maybe we can still get it set up in time for Monday. Fingers crossed.

[2017-09-16 20:28] hmitsch commented on #49
FYI, I also configured two goals in GA.

One tracks against the G Suite document URL, the other tracks URL fragments (URIs).
If possible, ping me if these parameters change.

<img width="769" alt="image" src="https://user-images.githubusercontent.com/869692/30515769-6013e58a-9b2e-11e7-9504-b2de3d8663a8.png">

[2017-09-17 20:16] hmitsch commented on #49
**arc.ai summary** created and configured for weekly alerts at 9am (CET) on Mondays.

You will see something like this on #oi-analytics in 11 hours:
<img width="517" alt="image" src="https://user-images.githubusercontent.com/869692/30524529-c463fcba-9bf5-11e7-9ff2-d98828f9dec4.png">

-Henrik

[2017-09-17 20:19] hmitsch commented on #49
Interesting conversion funnel for the "attend an event" goal ... looks like the site works quite well. Sample rate is still very, very small though.

<img width="935" alt="image" src="https://user-images.githubusercontent.com/869692/30524545-37a45d82-9bf6-11e7-8d01-1cce24d4e79e.png">

[2017-09-18 12:30] lkappeler commented on #60
Another simple solution could be to store the coordinates manually in spreadsheet, since this is our data source.
An the using the GEO Data API only as fallback if no coordinates are given.

The coordinates could ether be added in the registration form. The simple version would be to add two fields (lat, lng), the advanced version a location picker (relates to #39).
Another option could be to manu

[2017-09-18 13:43] MichaelKohler opened #61 "Map doesn't load for /register"
The Map doesn't load for https://firefoxsprint.mozilla.community/register/ as there is a country (West Bank) that we do not have in our mapping list for the map icons.

Proposed solution:
* Handle that error correctly
* Show placeholder map for West Bank

@couci as we don't have a map icon for West Bank, I would show a placeholder (though that can get quite political). I'd propose the following: h

[2017-09-18 13:45] MichaelKohler commented on #60
Thanks for the feedback!

True.

We want to avoid any manual interactions needed, as we have enough to do anyway ;)

.. or just a service that runs somewhere and populates the lat/lng into the spreadsheet (as we discussed already). I think that would be the best way as that could be hosted anywhere and would never directly be called from the website.

[2017-09-18 13:45] MichaelKohler commented on #60
BTW, 1) is not an option, as this would require a lot of money that can be saved through caching/requesting it once.

[2017-09-18 13:48] couci commented on #61
I agree let's move forward with the suggestion added since this is temporary

[2017-09-18 17:03] MichaelKohler opened #62 ""Loading.." on Leadership board if there is no entry"
If there is no entry in the reporting form sheet yet, the "loading..." on the leaderboard doesn't disappear.

[2017-09-18 17:09] MichaelKohler opened #63 ""Add new report" does not work"
Clicking on "Add new report" does not redirect correctly.

<img width="1061" alt="screen shot 2017-09-18 at 19 06 06" src="https://user-images.githubusercontent.com/330324/30554357-93a6d674-9ca4-11e7-9ae4-dac1a785c2b4.png">

This redirects to https://mozilla.github.io/firefox57-sprint/reporting/ which is not the new URL we use.

[2017-09-18 19:07] #61 closed

[2017-09-18 19:11] #62 closed

[2017-09-18 19:17] #63 closed

[2017-09-18 20:14] MichaelKohler opened #64 "Implement Front Page Design"
- [x] Implement Header
- [x] Implement Navigation
- [x] Implement Footer
- [x] Implement Logic of Map pointers -> event details display
- [x] Implement teaser
- [x] Implement choices
- [x] Implement Map
- [x] Implement Report/Leaderboard/GitHub
- [x] Implement Still Interested
- [x] Implement video (@couci where does that go?)

If necessary later:
- [ ] Implement Jump button
- [x] Change backgroun

[2017-09-18 20:16] MichaelKohler opened #65 "Implement Host Page Design"
- [x] Implement Header
- [ ] Implement text
- [ ] Implement workflow
- [ ] Implement Resources / Register button

Later if necessary:
- [ ] Decoration around "Workflow"
- [ ] Grey arrow

(Not finalized yet)
![firefoxsprint_page02_host](https://user-images.githubusercontent.com/330324/30562507-f721af02-9cbe-11e7-8b82-8afc202b7dd5.png)

[2017-09-18 20:18] MichaelKohler opened #66 "Implement Attend Page Design"
- [x] Implement Header
- [x] Implement Map
- [x] Implement text
- [x] Implement Flying Solo

Later if necessary:
- [x] Decoration around title

(not finalized yet)
![firefoxsprint_page03_attend](https://user-images.githubusercontent.com/330324/30562583-3e295c42-9cbf-11e7-916d-6512a75a20cc.png)

[2017-09-18 20:19] MichaelKohler opened #67 "Implement Report Design"
- [x] Implement Header
- [x] Implement text
- [x] Implement form
- [ ] Implement background image

(Not finalized yet)
![firefoxsprint_page04_report](https://user-images.githubusercontent.com/330324/30562635-706692ec-9cbf-11e7-807e-b3c667705ded.png)

[2017-09-18 20:20] MichaelKohler opened #68 "Implement Leaderboard Design"
- [x] Implement header
- [x] Implement leaderboard
- [x] Implement new scoring calculation
- [ ] Implement background image

(Not finalized yet)
![firefoxsprint_page05_leaderboard](https://user-images.githubusercontent.com/330324/30562657-926b51ca-9cbf-11e7-95b9-828d405995b8.png)

[2017-09-18 20:21] MichaelKohler opened #69 "Implement FAQ Design"
- [x] Implement header
- [x] Implement FAQ part
- [ ] Implement background image

(Not finalized yet)
![firefoxsprint_page06_faq](https://user-images.githubusercontent.com/330324/30562689-aca02840-9cbf-11e7-937e-732150f7921f.png)

[2017-09-21 00:01] MichaelKohler commented on #60
@lkapper is working on this here: https://github.com/lkappeler/geodata-fetcher

[2017-09-21 15:52] julian-alarcon commented on #50
Same issue, don't get it. The repo information says:
"This is the repo for the Firefox 57 sprint https://firefoxsprint.mozilla.community/"
Also multiple Events have Firefox 57 as the target of the Spring and they will be using the Firefox Nightly version that will be 58.

[2017-09-22 17:35] SandeepKapalawai commented on #48
Hi Micheal,

I have checked Alexa Indian List of websites and found that only few of websites are listed in trail version.

I would like to suggest you the below websites with more traffic :

*Linkedin.com (https://www.linkedin.com)
*Alibaba (http://india.alibaba.com/index.html)
*Daink Bhasker(https://www.bhaskar.com/site-take-over-ads)
*Make my trip(https://www.makemytrip.com/)
*99 acres (https:/

[2017-09-22 18:05] MichaelKohler commented on #48
Hi Sandeep

Some Reps have started to do their own list for India: https://public.etherpad-mozilla.org/p/firefoxquantumsprint-india

[2017-09-22 18:12] SandeepKapalawai commented on #48
Thank you Michael i will do check it out

[2017-09-24 19:56] MichaelKohler commented on #64
Jump button is not implemented yet, but I'll create a followup issue once I've done everything to tackle really small changes that are not 100% important.

[2017-09-24 19:56] #64 closed

[2017-09-25 07:44] MichaelKohler commented on #69
Implemented the most important parts. I'll take the background image (grey flag) into the follow up issue about smaller changes to be made.

[2017-09-25 07:44] #69 closed

[2017-09-25 15:04] lkappeler commented on #60
@MichaelKohler Still have this in my todos will have a look at it tonight or tomorrow. I'll give you an update after I tackled this.

[2017-09-25 18:31] MichaelKohler opened #73 "Add TW Reports"
As the reporting form didn't work, I'll add the TW reports manually on Thursday. :'(

https://docs.google.com/spreadsheets/d/1npmxhXIXxKU7FA1pdOWr_XXPOP4OicssGsXl3Xwp5X0/edit#gid=1482274005

[2017-09-25 18:41] MichaelKohler opened #74 "Add reports from Faisal"
As the reporting didn't work correctly, let's add those reports too: https://docs.google.com/spreadsheets/d/179QQ5XVkh5OmlDgKjehBozEkIuRZiv7oDd5Nx08qcwA/edit

[2017-09-25 22:12] MichaelKohler commented on #67
Closing this one for now, as we have most of the important things, rest will be done in a follow up.

[2017-09-25 22:12] #67 closed

[2017-09-26 11:02] MichaelKohler opened #75 "Make new design mobile-friendly"
For the second announcement tomorrow, we need to make the new design mobile friendly. The desktop view is OK for publishing now, with a few minor fixes needed later. In any case, mobile needs to be at the same level.

[2017-09-26 21:05] lkappeler opened #78 "Add offset for overlapping locations"
There are a few events on the same location eg. Paris. Since we lookup the locations with googles geodata service the markers are exactly on the same position which is resulting in only one clickable marker. (I guess either the the first or last one rendered)

[2017-09-26 21:14] #60 closed

[2017-09-27 11:16] MichaelKohler commented on #65
We have an MVP version of this for now in the newdesign branch, I don't think I'll have time to finish this fully and rather work on the more impactful areas (like attend).

[2017-09-27 11:17] MichaelKohler commented on #75
Initial version is done in the "newdesign" Branch. There are some minor changes needed still before we communicate to all Mozillians again tomorrow. Will do that tonight.

[2017-09-27 12:04] MichaelKohler commented on #39
Closing this as it's too late now.

[2017-09-27 12:04] MichaelKohler commented on #39
Closing this as it's too late now.

[2017-09-27 12:04] #39 closed

[2017-09-27 12:04] MichaelKohler commented on #35
Closing this as it's too late now.

[2017-09-27 12:04] #35 closed

[2017-09-27 13:09] couci commented on #50
Hello,
yes you're right, nightly is now on 58 and beta is on 57 and our focus is 57. The reason we decided to go initially to Nightly was because we knew that the issues are going to be eventually uplifted. However, by asking the engineers we were told that nightly will be more unsustainable on 58 thus move to beta for better user experience.

@MichaelKohler for that reason I am reopening this one

[2017-09-27 13:12] MichaelKohler commented on #50
As far as I know, this is only on the "Host" page for now.

[2017-09-27 13:29] julian-alarcon commented on #50
This page is still suggesting Nightly: https://firefoxsprint.mozilla.community/participant/

[2017-09-27 13:30] julian-alarcon commented on #50
Also this is still suggesting to download Nightly:
https://firefoxsprint.mozilla.community/host/

[2017-09-27 23:33] MichaelKohler commented on #68
This is done in "newdesign" branch apart from the background images. Will add this to the followup issue.

[2017-09-27 23:33] #68 closed

[2017-09-27 23:45] MichaelKohler commented on #50
This is done in the "newdesign" branch. I've also changed to the new video with the corrected phrase. This will be live once that branch is merged.

[2017-09-27 23:45] #50 closed

[2017-09-28 00:42] #66 closed

[2017-09-28 00:42] MichaelKohler commented on #66
Thanks @lkappeler!

[2017-09-28 00:42] MichaelKohler commented on #75
Done!

[2017-09-28 00:42] #75 closed

[2017-09-28 00:45] MichaelKohler opened #84 "New Design Followup: Small nits to improve"
Frontpage:
- [ ] Jump button not implemented yet
- [ ] YouTube Ratio container

FAQ:
- [ ] Background image (grey flag)
- [ ] Big “T”

Report:
- [ ] Background grey image

Leaderboard:
- [ ] Background grey images

General:
- [ ] Active Navigation Menus
- [ ] Crop long texts above white content boxes to 100% of box
- [ ] Header Titles might be too big for mobile
- [ ] Footer might be better center

[2017-09-28 00:46] MichaelKohler commented on #48
@couci ready to change the link/text whenever you are

[2017-09-28 01:04] MichaelKohler opened #86 "Icons on "Attend" link to the wrong pages"
The following icons link to the wrong pages:

![screen shot 2017-09-28 at 03 03 15](https://user-images.githubusercontent.com/330324/30944659-a562b0f2-a3f9-11e7-8fc0-0147aa30608f.png)

[2017-09-28 12:57] MichaelKohler opened #87 ""Sites tested" counter does not work with new design"
With the new design, the "Sites Tested" counter in the frontpage header does not show up correctly. Looks like it can't find it's own container.

[2017-09-28 18:41] maqboolkhan commented on #78
Possible solution can be adding random offset with `lang` and `lat `
source [Stackoverflow](https://stackoverflow.com/questions/3548920/google-maps-api-v3-multiple-markers-on-exact-same-spot)

[2017-09-28 21:22] ranjithrajv commented on #68
Started testing sites for Firefox Quantum Sprint and ended up finding a bug in leader board calculation algorithm :P
it's not detecting duplicate reports, please check.

[2017-09-28 21:25] ranjithrajv commented on #68
Please add an option to check submitted reports, when clicked on the number of sites tested. That would be of great help.

[2017-09-28 21:29] MichaelKohler opened #88 "Duplicate entries are counted in Leaderboard"
The leaderboard counts duplicate entries. We should at least filter for unique domains tested.

[2017-09-28 22:54] MichaelKohler commented on #86
Fixed once the cache expires.

[2017-09-28 22:54] #86 closed

[2017-09-28 23:38] #87 closed

[2017-09-29 12:36] lkappeler commented on #78
Thanks for your suggestion!

[2017-09-29 12:40] lkappeler opened #89 "Add ratio container"
Add a 16:9 ratio container for the YouTube videos.

[2017-09-29 12:41] lkappeler opened #90 "Add marker clustoring"
Add some [clustoring](https://developers.google.com/maps/documentation/javascript/marker-clustering) to the map after finishing #78.

@MichaelKohler Do you think this is ok with the design?

[2017-09-29 12:48] ranjithrajv commented on #90
@lkappeler this is a good idea, nice!

[2017-09-29 13:03] MichaelKohler commented on #90
Sounds good to me!

[2017-09-29 15:17] #73 closed

[2017-09-29 15:17] #74 closed

[2017-09-29 18:13] maqboolkhan commented on #90
Awesome @lkappeler  👍

[2017-10-01 01:00] fitojb opened #91 "Fake bold in hero text"
Fira Sans (and I’m so glad you used Fira instead of Open) looks hideous due to a missing weight call.
![captura de pantalla de 2017-09-30 19-59-35](https://user-images.githubusercontent.com/554953/31050740-eeb71b40-a619-11e7-8217-2ed32ff117ab.png)

[2017-10-01 13:15] MichaelKohler commented on #91
What exactly would you suggest? The current one is the same as font-weight: 700 would be.

[2017-10-01 13:27] lkappeler commented on #78
Added offset https://github.com/lkappeler/geodata-fetcher/commits/master

@MichaelKohler Please decrease cronjob interval to max 4/day since the rate limit is about 2500 requests per day

[2017-10-01 13:27] #78 closed

[2017-10-01 14:06] #90 closed

[2017-10-01 14:51] MichaelKohler commented on #65
I'm closing this one as now it's too late I think :)

[2017-10-01 14:51] #65 closed

[2017-10-02 09:09] lkappeler commented on #48
In this [Post](https://www.quora.com/What-are-the-top-100-000-most-visited-websites) I have found am S3 link to the [top 1Mio list form Alexa](http://s3.amazonaws.com/alexa-static/top-1m.csv.zip). The Comment says its auto generated every day. The one I downloaded is from yesterday. The entries are matching with the ones from [alexa's top 500](https://www.alexa.com/topsites)

[2017-10-02 09:23] kelimuttu commented on #48
We need the region-specific data so we decided to purchase the list anyway. But yeah, we can definitely use the 1 million list as a global reference as well. Thanks for pointing out @lkappeler

[2017-10-03 09:42] altinukshini opened #95 "Firefox Quantum Sprint website - Prishtina, Kosovo fix"
The issue is on: https://firefoxsprint.mozilla.community/register

Pin in Prishtina, Kosovo sends to 'wrld' (https://firefoxsprint..../#wrld) not 'xk' and Kosovo is also missing the Map icon.

Maybe whoever's entering the data on the website is not aware of Kosovo's ISO code 'xk', but yet MapGlyph is there http://mapglyphs.com/kosovo

Thnx to @Mte90 for referring me to this repo!

[2017-10-03 09:49] MichaelKohler commented on #95
This is a script doing this. Probably Kosovo just doesn't map to anything for now and therefore falling back to "wrld". Will check it out in the next few hours.

[2017-10-03 10:19] MichaelKohler commented on #95
This should be fixed in 10 minutes (Cache applies to the website).

[2017-10-03 10:19] #95 closed

[2017-10-03 12:08] couci commented on #48
Here is the list of the 200 first websites for the countries participating shorted alphabetically:  https://docs.google.com/spreadsheets/d/1KCT5Ytuu8tyC559TXVo-lIlv4mZVPGhn8qQe-qSTgm8/edit#gid=1569236874

@MichaelKohler here is the text: Check this list of the [200 most famous website](https://docs.google.com/spreadsheets/d/1KCT5Ytuu8tyC559TXVo-lIlv4mZVPGhn8qQe-qSTgm8/edit#gid=1569236874) in your

[2017-10-03 12:23] MichaelKohler commented on #48
Will add that tonight.

[2017-10-03 12:57] SandeepKapalawai commented on #48
Hi @MichaelKohler ,

I have a concern with the leader board points in below case: Please check :

1. For the first time when we tested a site ex: www.google.co.in and we didn't find any issues submit as" we didn't find any issue with the site by selecting .No" .This will be added as 1 point.
2. But in case if we find the issue when we tested for 2nd time for the same website (www.google.co.in) and

[2017-10-03 13:05] MichaelKohler commented on #48
@sonusandeep we filter "double" entries to avoid testing the same site over and over again to get points. This is done by nickname+sitetested.

@couci thoughts?

[2017-10-03 13:05] lkappeler commented on #48
This is caused by https://github.com/mozilla/firefox57-sprint/issues/88. Since we count domains unique the issues form the first entry are counted. I think we should add an additional check if there are more issues than in the fist check and count the check with more issues

[2017-10-03 13:08] SandeepKapalawai commented on #48
Thank you @MichaelKohler  for clarifying.

@lkappeler  +1

[2017-10-03 13:12] MichaelKohler commented on #48
@sonusandeep this will be handled in https://github.com/mozilla/firefox57-sprint/issues/88

[2017-10-03 13:12] MichaelKohler commented on #88
see https://github.com/mozilla/firefox57-sprint/issues/48#issuecomment-333833213

[2017-10-03 13:13] SandeepKapalawai commented on #48
Sure Thank you @MichaelKohler

[2017-10-03 13:17] lkappeler commented on #88
@couci Would you rather only count the issues found on a retest or the retest as a unique test and the found issues?

cc @MichaelKohler

[2017-10-03 14:01] couci commented on #88
I think it's better in the counting to count only the retest since the website has already been counted before

[2017-10-03 22:09] #48 closed

[2017-10-05 09:07] tsl143 opened #99 "[urgent] NSFW sites in Quantam sprint list"
The list of websites given for testing on the day has few NSFW websites, these will be accessed in school/colleges.

https://docs.google.com/spreadsheets/d/1KCT5Ytuu8tyC559TXVo-lIlv4mZVPGhn8qQe-qSTgm8/edit#gid=1569236874

[2017-10-05 19:32] shashwatjain2020 commented on #99
Would be working on it! @tsl143  Please assign it to me!

[2017-10-06 02:47] tsl143 commented on #99
@niecstudent , it has been done, thanks for your interest :)

[2017-10-06 02:47] #99 closed

[2017-10-06 07:43] rabirajkhadka opened #102 "Do solo tester get any swag ?"

[2017-10-06 16:23] couci opened #103 "Close down leaderboard at it's current form"
It appears that the leaderboard at it's current form is not providing any value but enabling unhealthy competition and cheating.
We need to ensure that this doesn't happen so we help our collegues at webcompat with less noise.

@MichaelKohler please do the following changes:

- [ ] change name "leaderboard" to List of Participants
- [ ] take out the following:
 * This is the current ranking.Total

[2017-10-06 17:14] miketaylr commented on #103
Thanks @couci!

[2017-10-06 22:21] #103 closed

[2017-10-07 01:56] lkappeler opened #105 "Navigation title breaks on medium screen"
<img width="642" alt="screen shot 2017-10-07 at 03 45 12" src="https://user-images.githubusercontent.com/3371760/31303695-41da084e-ab12-11e7-81a5-898345109c4c.png">

Appears until the mobile breakpoints comes to action.
Works with bigger resolution.

<details>
<summary>Test details</summary>

- Verified: Nightly, Chrome 61, Safari 11
- Resolution: 1280x800
- Device: 13inch MacBook pro, retina disp

[2017-10-07 08:01] #105 closed

[2017-10-08 18:32] championshuttler opened #106 "Typing mistakes"
There are some typing mistakes in website
1. On participating page "impactful"
2. On host page o is missing from So

[2017-10-08 18:37] #106 closed

[2017-10-20 00:14] JeanPaulLucien commented on #88
What about count of each of the tested website and just decrease price (points) for this?

[2017-10-27 09:58] couci opened #110 "Close registrations for events"
Since we are getting close to the launch, we need to close registrations of events to ensure:
a) to minimize the bug triaging for webcompat
b) put the attention on the social media campaign

Steps need to be taken
* [ ] Take out registration button from host and register pages
* [ ] Replace text on the register page with: "Thank you for your interest registering an event. Unfortunately, we have st

[2017-10-27 10:00] couci commented on #110
fyi, I've already closed the registration form

[2017-10-31 22:27] MichaelKohler commented on #110
done

[2017-10-31 22:27] #110 closed

[2017-11-15 02:54] #91 closed

[2017-11-18 10:27] Ashmodei opened #111 "Have an issue with buttons on the site"
Hi!
I have no idea what can be a problem, but red buttons on the page: https://dominospizza.ru/product/tretya_picca_v_podarok_srednyaya#!1 don't work correct. There is no issue on Chrome.

[2017-11-22 08:07] baruchiro opened #112 "Saved Passwords Protection in Amdroid"
All saved passwords are accessible at about:logins in Android without additional security.

[2017-11-22 09:49] MichaelKohler commented on #112
You can set up a master password: https://support.mozilla.org/en-US/kb/using-master-password-firefox-android

[2017-11-22 09:49] #112 closed

[2017-11-23 11:21] couci commented on #111
Hey there,
that sounds like a compatibility issue, can you file a bug here: https://webcompat.com/

thanks :)

[2017-11-23 12:34] ghost commented on #111
Hi,
Thank you, I will do so :)

[2017-11-23 12:39] #111 closed

[2017-12-07 23:28] carlca opened #113 "Problems with Firefox Quantum with Netlify hosted site"
[code]
If this is not the correct place for this issue report, please forgive me, and redirect me to the right place, thanks!

Hello, I have a website that is hosted at Netlify. The URL is https://relaxed-williams-d8a311.netlify.com/ I have the domain https://carlca.com which is configured to point to the same site. The problem is that while the site displays perfectly from the https://relaxed-wil

[2017-12-08 00:16] MichaelKohler commented on #113
This indeed is the wrong place. This would be better suited to be posted in a web developer help forum like stackoverflow as this is not an issue with Firefox itself, but with the website.

In any case, I have taken a quick look at the problem:
1) With the latest Chrome version, https://carlca.com/ doesn't load the icons either
2) This is due to the fact that the font can't be loaded due to an iss

[2017-12-08 00:16] #113 closed

[2017-12-13 22:43] Yuessiah opened #114 "The address bar not showing well after accessing another page"
[code]
The address bar should be refreshed after user access another page.

When I modified some text in address bar, then access another page, the address bar would not be updated.

For example:
While viewing `https://github.com/mozilla/firefox57-sprint`, I clicked the `.gitignore` hyperlink, the address bar normally showed me `https://github.com/mozilla/firefox57-sprint/blob/master/.gitignore` .

[2017-12-13 22:56] MichaelKohler commented on #114
I can reproduce this. I haven't checked out what GitHub is doing exactly and if Firefox should update the address bar or not. In any case, I think it would be helpful to file this bug at bugzilla.mozilla.org where Firefox bugs are tracked.

I'm closing this one here. Thanks for reporting.

[2017-12-13 22:56] #114 closed

[2018-01-06 16:32] tiagomoraismorgado88 opened #116 "shall we add ToC to README.md?"
shall we add ToC to README.md? i think its relevant. looking forward. cheers

[2018-01-06 16:34] MichaelKohler commented on #116
The README fits on the viewport of a 13' (non-retina) macbook, I don't think that is needed and might actually make it harder to find content as you would need to scroll down or read through the whole TOC.

[2018-01-06 16:34] #116 closed

[2018-01-06 16:40] ghost commented on #116
ok @MichaelKohler  that sounds fair to me

[2018-01-08 15:56] bsh314 opened #117 "Web Speech API not accesible"
There is no way to access SpeechRecognition interface in the new Firefox release.

[2018-01-08 16:06] MichaelKohler commented on #117
For Firefox issues, please refer to http://bugzilla.mozilla.org as this is the repository we have used for the Firefox 57 Testing Campaign. Thank you!

[2018-01-08 16:06] #117 closed

[2018-01-10 23:11] MichaelKohler commented on #102
I'm closing this PR as this project is done and I'm putting this repository into read-only mode.

[2018-01-10 23:11] #102 closed

[2018-01-10 23:11] MichaelKohler commented on #89
I'm closing this PR as this project is done and I'm putting this repository into read-only mode.

[2018-01-10 23:11] #89 closed

[2018-01-10 23:11] MichaelKohler commented on #88
I'm closing this PR as this project is done and I'm putting this repository into read-only mode.

[2018-01-10 23:11] #88 closed

[2018-01-10 23:11] MichaelKohler commented on #84
I'm closing this PR as this project is done and I'm putting this repository into read-only mode.

[2018-01-10 23:11] #84 closed